body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    margin: 0;
    padding: 0;
}

textarea {
    height: 100%;
    min-height: 90px;
    width: 100%;

    background: transparent;
    border: none;
    outline: none;

    resize: none;

    padding: 0;
    margin: 0;


    color: white;
}

textarea:focus {
    outline: none;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;
}

.row {
    border-top: 1px solid white;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;

    text-align: end;
}

.past > .textarea-container {
    background-color: #d3d3d3;
}

.present > .textarea-container {
    background-color: #ff6961;
}

.future > .textarea-container {
    background-color: #77dd77;
}

.save-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;

    cursor: pointer;

    font-size: 20px;

    transition: all 200ms ease-out;
}

.save-button:hover, i:hover {
    font-size: 24px;
}

#currentDay {
    display: flex;
    align-items: center;
    border-radius: 7px;
    justify-content: center;
    font-family: 'Control One', sans-serif;
    font-size: 2em;
}

/* Additional styles */

.row:focus-within > .hour {
    text-decoration: underline;
}

.past:focus-within > .textarea-container {
    background-color: #bababa;
}
.present:focus-within > .textarea-container {
    background-color: #ff6961;
}
.future:focus-within > .textarea-container {
    background-color: #5ec45e;
}
.save-button {
    outline: none;
}
.save-button:focus {
    background-color: #0095bc;
}
.save-button:hover {
    background-color: #20c8ef;
}
.save-button:active {
    background-color: #39e1ff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
}

.alert {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    z-index: 1;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;

    pointer-events: none;

    animation-name: fadeIn;
    animation-duration: 200ms;
}
.alert.fade-out {
    animation-name: fadeOut;
    animation-duration: 200ms;
    opacity: 0;
}

.container {
    margin-bottom: 90px;
}
